# Pandas Introduction - Series

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('census.csv')

In [2]:
# In millions
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [3]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7_pop.name = 'G7 Population in million'

In [5]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in million, dtype: float64

In [6]:
g7_pop.dtype

dtype('float64')

In [7]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [8]:
type(g7_pop.values)

numpy.ndarray

In [9]:
# As they look like a simple python list or Numpy Arrays. But they are actually more similar to python dicts.
# A series has an INDEX, that's similar to the automatic index assigned to python's list

In [10]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in million, dtype: float64

In [11]:
g7_pop[0]

35.467

In [12]:
g7_pop[1]

63.951

In [13]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [14]:
l = ['a', 'b', 'c']

In [15]:
# But, in contrast to lists, we can explicitly define the index:
g7_pop.index = [
    'Canada',
    'France', 
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [16]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [17]:
g7_pop['Canada']

35.467

In [18]:
# We can say that series look like ORDERED DICTIONARIES. We can actually create series out of dictionaries
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name = 'G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [19]:
pd.Series(
    [35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523],
    index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],
    name = 'G7 Population in millions'
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [20]:
pd.Series(g7_pop, index = ['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in million, dtype: float64

# Indexing

In [21]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [22]:
g7_pop['Canada']

35.467

In [23]:
g7_pop['Japan']

127.061

In [24]:
# Numeric positions can also be used, with the iloc attribute

In [25]:
g7_pop.iloc[0]

35.467

In [26]:
g7_pop.iloc[-1]

318.523

In [27]:
#Selecting multiple elements at once:
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in million, dtype: float64

In [28]:
g7_pop.iloc[[0,1]]
# Slicinh also works, but IMPORTANT, in pandas, the upper limit is also included:

Canada    35.467
France    63.951
Name: G7 Population in million, dtype: float64

In [29]:
g7_pop['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in million, dtype: float64

# Conditional selection (Boolean Arrays)

In [30]:
# The same boolean array technique we saw applied to numpy arrays can be used for Pandas Series

In [31]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [32]:
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in million, dtype: bool

In [33]:
g7_pop[g7_pop>70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in million, dtype: float64

In [34]:
g7_pop.mean()

107.30257142857144

In [35]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in million, dtype: float64

In [36]:
g7_pop.std()

97.24996987121581

In [37]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

## Operations and methods

In [38]:
# Series also support vectorized operations and aggregation functions as numpy:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [39]:
~ not
| or
& and

SyntaxError: invalid syntax (880499377.py, line 1)

In [40]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) & (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

United States    318.523
Name: G7 Population in million, dtype: float64

In [41]:
g7_pop * 1000000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in million, dtype: float64

In [42]:
g7_pop.mean()

107.30257142857144

In [43]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in million, dtype: float64

In [44]:
g7_pop['France': 'Italy'].mean()

68.51866666666666

## Boolean Arrays

In [45]:
# Work in the same way as numpy
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [46]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in million, dtype: bool

In [47]:
g7_pop[g7_pop > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in million, dtype: float64

In [48]:
g7_pop[(g7_pop > 80) | (g7_pop < 200)]

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [49]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in million, dtype: float64

## Modifying series

In [50]:
g7_pop['Canada'] = 40.5

In [51]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in million, dtype: float64

In [52]:
g7_pop.iloc[-1] = 500

In [53]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in million, dtype: float64

In [54]:
g7_pop[g7_pop < 70] = 99.99

In [55]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in million, dtype: float64